# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
unit.out

# Folders
_obj
_test

tmp/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

coverage.txt

*.pyc

xc-out/
root/

man/aptly.1.html
man/aptly.1.ronn

.goxc.local.json

system/env/

# created by make build for release artifacts
VERSION
aptly.test

build/

pgp/keyrings/aptly2*.gpg
pgp/keyrings/aptly2*.gpg~
pgp/keyrings/.#*
