# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
unit.out

# Folders
_obj
_test

tmp/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

coverage.txt

*.pyc

xc-out/
root/

man/aptly.1.html
man/aptly.1.ronn

system/env/

# created by make build for release artifacts
VERSION
aptly.test

build/

system/files/aptly2.gpg~
system/files/aptly2_passphrase.gpg~

*.creds

.go/
obj-x86_64-linux-gnu/
obj-aarch64-linux-gnu/
obj-arm-linux-gnueabihf/
obj-i686-linux-gnu/

# debian
debian/.debhelper/
debian/aptly.substvars
debian/aptly/
debian/debhelper-build-stamp
debian/files
debian/aptly-api/
debian/*.debhelper
debian/*.debhelper.log
debian/aptly-api.substvars
debian/aptly-dbg.substvars
debian/aptly-dbg/
usr/bin/aptly
dpkgs/
debian/changelog.dpkg-bak

docs/docs.go
docs/swagger.json
docs/swagger.yaml
docs/swagger.conf
