# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
unit.out

# Folders
_obj
_test

tmp/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

coverage.txt

*.pyc

xc-out/
root/

man/aptly.1.html
man/aptly.1.ronn

system/env/

# created by make build for release artifacts
VERSION
aptly.test

build/

system/files/aptly2.gpg~
system/files/aptly2_passphrase.gpg~

*.creds

.go/
obj-x86_64-linux-gnu/

# debian
debian/.debhelper/
debian/aptly.debhelper.log
debian/aptly.postrm.debhelper
debian/aptly.substvars
debian/aptly/
debian/debhelper-build-stamp
debian/files
debian/aptly-api/
debian/aptly-api.debhelper.log
debian/aptly-api.postrm.debhelper
debian/aptly-api.substvars
debian/aptly-dbg.debhelper.log
debian/aptly-dbg.substvars
debian/aptly-dbg/

docs/
