[Unit]
Description=APT repository server
After=network.target
Documentation=man:aptly(1)
Documentation=https://www.aptly.info/doc/commands/

[Service]
Type=simple
ExecStart=/usr/bin/aptly serve -listen=127.0.0.1:8080

[Install]
WantedBy=multi-user.target
