[Unit]
Description=Aptly REST API
After=network.target
Documentation=man:aptly(1)

[Service]
User=aptly-api
Group=aptly-api
Environment=TERM=dumb
WorkingDirectory=~
EnvironmentFile=/etc/default/aptly-api
ExecStart=/usr/bin/aptly api serve -config=/etc/aptly.conf -listen=${LISTEN_ADDRESS}

[Install]
WantedBy=multi-user.target
