Source: aptly
Section: devel
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: TODO <admin@lepton.exnihilo>
Build-Depends: debhelper (>= 11),
               dh-golang,
               golang (>= 2:1.20),
               golang-doc (>= 2:1.20),
               golang-go (>= 2:1.20),
               golang-src (>= 2:1.20),
               golang-github-aleksi-pointer-dev,
               golang-github-awalterschulze-gographviz-dev,
               golang-github-aws-aws-sdk-go-dev,
               golang-github-disposaboy-jsonconfigreader-dev,
               golang-github-gin-gonic-gin-dev,
               golang-github-kjk-lzma-dev,
               golang-github-mattn-go-shellwords-dev,
               golang-github-mkrautz-goar-dev,
               golang-github-mxk-go-flowrate-dev,
               golang-github-ncw-swift-dev,
               golang-github-pkg-errors-dev,
               golang-github-smira-commander-dev,
               golang-github-smira-flag-dev,
               golang-github-smira-go-aws-auth-dev,
               golang-github-smira-go-ftp-protocol-dev,
               golang-github-smira-go-xz-dev (>> 0.0~git20150414.0c531f0-2.1),
               golang-github-ugorji-go-codec-dev (>> 1.1.7-2),
               golang-github-wsxiaoys-terminal-dev,
               golang-golang-x-crypto-dev,
               golang-golang-x-sys-dev,
               golang-github-syndtr-goleveldb-dev,
               golang-gopkg-check.v1-dev,
               golang-gopkg-cheggaaa-pb.v1-dev,
               golang-gopkg-h2non-filetype.v1-dev,
               golang-uuid-dev,
               golang-github-cavaliergopher-grab-dev,
               golang-golang-x-time-dev,
               golang-github-azure-azure-storage-blob-go-dev,
               golang-github-klauspost-compress-dev,
               golang-github-klauspost-pgzip-dev,
#               golang-github-prometheus-client-golang-dev,
               golang-github-rs-zerolog-dev (>= 1.28.0),
               golang-github-mattn-go-colorable-dev,
               golang-github-aws-aws-sdk-go-v2-dev,
               golang-github-protonmail-go-crypto-dev,
               golang-github-saracen-walker-dev,
               git
Standards-Version: 4.2.1
Homepage: https://github.com/aptly-dev/aptly
Vcs-Browser: https://salsa.debian.org/go-team/packages/aptly
Vcs-Git: https://salsa.debian.org/go-team/packages/aptly.git
XS-Go-Import-Path: github.com/aptly-dev/aptly
Testsuite: autopkgtest-pkg-go

Package: aptly
Architecture: any
Depends: ${misc:Depends}, bzip2, xz-utils
Description: aptly - Debian repository management tool
 Aptly is a swiss army knife for Debian repository management.

Package: aptly-api
Architecture: any
Depends: ${misc:Depends}, aptly, adduser
Built-Using: ${misc:Built-Using}
Description: Swiss army knife for Debian repository management - API
 It offers several features making it easy to manage Debian package
 repositories:
 .
  - make mirrors of remote Debian/Ubuntu repositories, limiting by
    components/architectures
  - take snapshots of mirrors at any point in time, fixing state of
    repository at some moment of time
  - publish snapshot as Debian repository, ready to be consumed by apt
  - controlled update of one or more packages in snapshot from upstream
    mirror, tracking dependencies
  - merge two or more snapshots into one
 .
 This package contains the aptly-api service.
