#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --buildsystem=golang --with=golang,bash-completion

override_dh_auto_clean:
	rm -rf build/
	rm -rf obj-$(DEB_TARGET_GNU_TYPE)/
	dh_auto_clean

override_dh_auto_test:
	# run during autopkgtests

override_dh_auto_install:
	dh_auto_install -- --no-source

override_dh_strip:
	dh_strip --dbg-package=aptly-dbg

override_dh_auto_build:
	echo $(DEB_VERSION) > obj-$(DEB_TARGET_GNU_TYPE)/src/github.com/aptly-dev/aptly/VERSION
	dh_auto_build
